:root {
    --color-primary-dark-margenta: hsl(300, 43%, 22%);
    --color-primary-soft-pink: hsl(333, 80%, 67%);
    --color-neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
    --color-neutral-light-grayish-magenta: hsl(300, 24%, 96%);
    --color-neutral-white: hsl(0, 0%, 100%);
}

html {
    font-size: 62.5%;
    /* to make calculating for rem easier */
    box-sizing: border-box;
    min-height: 100%;
}

body {
    background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-size: 40%, 75%;
    color: var(--color-primary-dark-margenta);
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Spartan', sans-serif;
    padding: 8rem 0 10rem 0;
    min-height: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 87%;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
}

h2 {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.content p {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    color: var(--color-neutral-dark-grayish-magenta);
    font-weight: 500;
    line-height: 1.6666666667;
}

.ratings li {
    background-color: var(--color-neutral-light-grayish-magenta);
    border-radius: 8px;
    padding: 16px;
}

.ratings > * + * {
    margin-top: 1.6rem;
}

.ratings img {
    margin: 0 4px;
}

.ratings span {
    display: inline-block;
    margin-top: 1.6rem;
    font-weight: 700;
}

.wrapper {
    margin-bottom: 5rem;
}

.reviews li {
    background-color: var(--color-primary-dark-margenta);
    color: var(--color-neutral-white);
    border-radius: 8px;
    padding: 4rem 3.2rem 3.2rem;
    text-align: left;
}

.reviews > * + * {
    margin-top: 1.6rem;
}

.reviews p {
    font-weight: 500;
    line-height: 1.692307692307692;
}

.reviewer-meta {
    display: flex;
    align-items: center;
    margin-bottom: 2.6rem;
}

.reviewer-meta img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 2.3rem;
}

.reviewer-meta span {
    color: var(--color-primary-soft-pink);

}

@media (min-width: 650px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 900px) {
    .body {
        text-align: left;
        background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat;
        background-position: left top, right bottom;
        background-size: 60%, 100%;
        padding: 12rem;
    }
    .container {
        width: 95%;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        width: 40%;
    }

    .content p {
        margin: 0;
    }

    .ratings li {
        display: flex;
        align-items: center;
    }

    .ratings li:nth-child(2) {
        transform: translateX(-50px);
    }
    .ratings li:nth-child(1) {
        transform: translateX(-100px);
    }

    .ratings span {
        margin: 0 0 0 3.2rem;
    }


    .reviews {
        display: flex;
        margin-top: 9rem;
    }

    .reviews > * + * {
        margin-top: 0;
        margin-left: 3rem;
    }

    .reviews li:nth-child(1) {
        transform: translateY(-16px);
    }
    .reviews li:nth-child(3) {
        transform: translateY(16px);
    }

} 

@media (min-width: 1050px) {
    h1 {
        font-size: 4.8rem;
    }
}